#content {
    display: inline-block;
    padding: 0 80px;
    box-sizing: border-box;
}

.flexed {
    display: flex;
}

.truckTypes {
    width: 320px;
    border: 2px solid green;
    padding: 5px;
}

.truckTypes > img {
    height: 180px; width: 310px;
}

.container > div {
    transition: 0.5s;
    margin: 0 10px 10px 10px;
}

.container > div:hover {
    text-shadow: 0 0 10px white;
    transition: 0.5s;
}

.container {
    padding: 10px; margin: 10px; overflow-x: hidden;
    flex-wrap: wrap;
}