body {
    font-family: "arial"; margin: 0; color: white;
}

#background {
    width: 100vw; height: 100vh; 
    background-image: url("../media/images/uhaulTruck.jpg");
    background-size: 100% 100%;
}

#content {
    width: 100%; height: 100%;
    backdrop-filter: blur(8px);
}

form {
    box-shadow: 0 0 20px black;
    text-align: center; 
    margin: 0 auto; 
    width: 15%; padding: 10px;
    min-width: 300px;
}

form, .container {
    background-color: rgba(0,0,0,0.35);
}

.container {
    padding: 0 10px; margin: 10px;
}

fieldset, .container {
    border: 2px solid white;
}

label, button {
    display: block;
}

label {
    margin: 5px auto;
}

button {
    margin: 10px auto;
}

.warning {
    color: orange;
}

.link {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: white;
}

.link:hover {
    color: cyan;
}