body {
    font-family: "arial"; margin: 0; color: white;
}

#background {
    width: 100%; min-height: 100vh; height: 100%;
    background-attachment: fixed;
    background-image: url("../media/images/uhaulTruck.jpg");
    background-size: 100% 100%;
}

#content {
    width: 100%; min-height: 100vh; height: 100%;
    backdrop-filter: blur(8px);
}

form, .container {
    background-color: rgba(0,0,0,0.35);
}

form, fieldset, .container {
    border: 2px solid white;
}