/* Main styles for responsive design */
@media screen and (max-width: 640px) {
    /* Main elements */
    section {
        margin: 10px 10%; padding: 5px 15px;
    }
    /* Text elements */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    header > a {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    * {
        font-size: 14px; line-height: 16px; 
    }
}

/* Article-exclusive */
@media screen and (max-width: 640px) {
    /* Image types */
    .small {
        min-width: 80px;
        width: 70%;
        max-width: 150px;
    }

    .medium {
        min-width: 100px;
        width: 90%;
        max-width: 180px;
    }
    /* Other */
    figcaption {
        margin: 0;
        text-wrap: wrap;
    }
}