/* Article elements */
.art_block {
    display: block;
}

.art_block::after {
    content: "";
    display: block;
    clear: both;
}

.art_image {
    text-align: center;
    margin: 15px;
}

.art_image > img {
    width: 100%;
}

/* Image types */
.left {
    float: left;
}

.right {
    float: right;
}

.small {
    min-width: 150px;
    width: 70%;
    max-width: 250px;
}

.medium {
    min-width: 200px;
    width: 90%;
    max-width: 350px;
}

/* Tables */
th, td {
    padding: 5px 10px;
    text-align: center;
    border: 2px solid white;
}

/* Other */
figcaption {
    margin: 0 20%;
}

@media screen and (max-width: 640px) {
    /* Image types */
    .small {
        min-width: 80px;
        width: 70%;
        max-width: 150px;
    }

    .medium {
        min-width: 100px;
        width: 90%;
        max-width: 180px;
    }
    /* Other */
    figcaption {
        margin: 0;
        text-wrap: wrap;
    }
}