/* Content sections */
.sidebar {
    width: 20%; margin: 40px;
}

#sidebar-visual {
    position: fixed;
}

#sidebar-phantom {
    opacity: 0;
}

#main-content {
    width: 80%; margin: 40px;
}

/* Navigation bar */
#nav {
    padding-bottom: 25px;
}

#nav nav ul {
    margin: 0;
}

/* Article blocks */
.art_block {
    display: block;
}

.art_block::after {
    content: "";
    display: block;
    clear: both;
}

.no-gap::after {
    display: none !important;
}

/* Images */
.art_image {
    text-align: center;
    margin: 15px;
}

.art_image > img {
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    min-width: 150px;
    width: 70%;
    max-width: 250px;
}

.medium {
    min-width: 200px;
    width: 90%;
    max-width: 350px;
}

figcaption {
    margin: 0 20%;
}

/* Tables */
th, td {
    padding: 5px 10px;
    text-align: center;
    border: 2px solid white;
}