/* Custom properties */
:root {
    --theme-color: rgb(48, 110, 139);
    --gen-transition: 0.6s;
}

/* Primary elements */
body {
    background-color: var(--theme-color);
    color: white; font-family: 'Century Gothic';
    min-height: 100vh; margin: -15px 0 0 0;
}

header {
    position: fixed; z-index: 10;
    width: 100%; height: 65px; top: 0;
    background-image: linear-gradient(
        black,
        var(--theme-color)
    );
    display: flex; align-items: center;
    justify-content: space-evenly;
}

main {
    width: 100%; min-height: fit-content; height: auto;
    display: flex; position: relative; top: 40px;
}

footer {
    box-sizing: border-box;
    position: relative; top: 80px;
    width: 100%; margin-bottom: 0;
    padding: 30px 15px;
    background-color: var(--theme-color);
}

/* Visual elements */
#background {
    width: 100vw; height: 100vh; position: fixed;
    z-index: 0; filter: blur(8px); 
    background-image: url('../media/images/backgrounds/cartoon_night_city_wallpaper.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

/* Content's containers */
#single-bar {
    width: calc(100% - 80px);
    display: block; top: 80px;
    margin: 40px;
}

section {
    height: auto; margin: 40px 0;
    background-color: rgba(0,0,0,0.5); padding: 5px 20px;
}