/* Main elements */
body {
    background-color: rgb(15, 30, 99);
    color: white; font-family: 'Franklin Gothic Medium';
    min-height: 100vh; margin: -15px 0 0 0;
}

#background {
    width: 100vw; height: 100vh; position: fixed;
    z-index: 0; filter: blur(4px); 
    background-image: url('../media/images/backgrounds/city_wallpaper.jpg');
    background-size: 100vw 100vh;
    background-attachment: fixed;
    
}

header {
    position: fixed; z-index: 10;
    width: 100%; height: 65px; 
    background-color: rgb(15, 30, 99);
    display: flex; align-items: center;
    justify-content: space-evenly;
}

main {
    width: 100%; min-height: fit-content; height:auto;
    position: relative; top: 75px;
}

section {
    height: auto; margin: 15px 15%;
    background-color: rgba(0,0,0,0.5); padding: 5px 20px;
}

footer {
    box-sizing: border-box;
    position: relative; top: 75px;
    width: 100%; margin-bottom: 0;
    padding: 30px 15px;
    background-color: rgb(8, 8, 54);
}

/* Text elements */

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

header > a {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

* {
    font-size: 18px; line-height: 21px; 
}

/* Links */

a {
    text-decoration: none; color: white;
    transition: 0.4s; 
}

header > a:hover {
    transform: translateY(-3.5px);
    transition: 0.4s;
}

.city_link, .nav_link {
    width: fit-content;
    transition: 0.4s;
}

.city_link:hover, .nav_link:hover {
    transform: translateX(4px);
    transition: 0.4s;
}

@media screen and (max-width: 640px) {
    /* Main elements */
    section {
        margin: 10px 10%; padding: 5px 15px;
    }
    /* Text elements */
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    header > a {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    * {
        font-size: 14px; line-height: 16px; 
    }
}