#content {
    display: flex;
    justify-content: center; 
    align-items: center;
}

form {
    box-shadow: 0 0 20px black;
    text-align: center; 
    margin: 0 auto; 
    width: 15%; padding: 10px;
    min-width: 300px;
}

label {
    margin: 5px auto;
}

button {
    margin: 10px auto;
}

.warning {
    color: orange;
}

.link {
    display: block; margin: 10px 0;
    transition: 0.5s;
}

.link:hover {
    text-shadow: 0 0 8px white, 0 0 16px white;
    transition: 0.5s;
}

label, button {
    display: block;
}